.error-container {
  padding: 50px 0;
  min-height: calc(100vh - 91px - 68.4px);
  text-align: center;
}

.error-container__h1 {
  font-size: 50px;
  font-weight: bold;
  color: red;
  animation: shake 0.8s linear infinite;
}

.error-container__link {
  color: inherit;
  text-decoration: underline dotted;
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(-20deg);
  }
  40% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  80% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0);
  }
}
